@use '../../partials/partials' as *;

.home {
  &__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: $lightBlue;
    margin: 24px;
    @include tablet {
      font-size: 4rem;
    }
    @include desktop {
      font-size: 5rem;
    }
  }
  &__shop {
    margin: 0 16px;
    @include tablet {
      margin: 0 32px 24px 32px;
    }
    @include desktop {
      margin: 64px 180px 32px 180px;
    }
  }
  &__feat {
    margin: 32px 0;
    border: 1px solid $lightBlue;
    &--text {
      @include tablet {
        font-size: 20px;
      }
    }
    &--title {
      background-color: $grey;
      font-size: 28px;
    }
    &--button {
      background-color: $lightRed;
      &:hover {
        background-color: $red;
      }
      &:active {
        background-color: $red;
      }
    }
  }
  &__categories {
    border: 1px solid $lightBlue;
    border-radius: 5px;
    margin-bottom: 32px;
    &--title {
      font-size: 28px;
      background-color: $grey;
    }
    &--list-item {
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: $lightRed;
      }
      &:active {
        background-color: $red;
      }

      @include desktop {
        font-size: 20px;

        &:hover {
        }
      }
    }
  }
}
