@use '../../partials/partials' as *;
@use '../../App.scss';

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96vh;

  @include tablet {
    // justify-content: flex-end;
    // padding-right: 180px;
  }

  &__card {
    background-color: white;
    border-radius: 0.3rem;
    box-shadow: -1px 2px 20px 2px;
    // width: 50%;
    padding: 18px 24px 0 24px;
    // margin-right: 80px;
    // width: 343px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include tablet {
      height: 60vh;
      // width: 660px;
    }
    @include desktop {
    }
  }
  &__welcome {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 24px;
    background-color: $grey;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 20%;

    @include tablet {
      flex-direction: initial;
      justify-content: space-between;
      align-items: center;
    }
    &--close {
      height: 30px;
      width: 50px;
      margin: 8px;
      border: 1px solid $blue;
      border-radius: 10px;
      background-color: $grey;
      &:hover {
        background-color: $red;
        color: $white;
      }
    }
    &--title {
      color: $black;
      font-size: 2rem;
      padding: 8px 0;
      @include tablet {
        font-size: 60px;
      }
    }
  }
  &__form {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--card {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    &--label {
      margin: 10px 0;
    }
    &--input {
      border-radius: 10px;
      padding: 7px;
      border: 1px solid $blue;
      height: 30px;
      &:focus {
        outline: none;
        border: 3px solid $red;
      }
    }
    &--button {
      margin: 20px 0;
      padding: 6px;
      border: none;
      background-color: $lightRed;
      border-radius: 10px;
      height: 38px;
      &:hover {
        background-color: $red;
        color: $white;
      }
      &:active {
        background-color: $red;
      }
    }
  }
  &__redirect {
    // margin-top: 42px;
    margin-bottom: 0;
    text-align: center;
    font-size: 14px;
  }
}
