@use '../../partials/partials' as *;

.home {
  // margin: 40px 0;
  &__hero {
    display: flex;
    justify-content: center;
    &--image {
      object-fit: contain;
    }
  }
  &__hero {
    height: 50vh;
  }

  &__feat {
    margin: 32px 0;
    // border-radius: unset;
    filter: grayscale(0%) !important;

    &--head {
      background-color: $red;
    }
    &--foot {
      display: flex;
      justify-content: space-evenly;
    }
  }
  &__random {
    // border: 1px solid red;
    height: 200px;
  }
}

.card-header {
  border: 1px solid $red;
  background-color: $lightRed;
}
