@use '../../partials/partials' as *;

.home {
  // margin: 40px 0;
  &__hero {
    display: flex;
    justify-content: center;
    &--image {
      object-fit: contain;
    }
  }
  &__hero {
    height: 50vh;
  }

  &__feat {
    margin: 32px 0;
    &--foot {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

.card-header {
  border: 1px solid $red;
  background-color: $lightRed;
}
