@use '../../partials/partials' as *;

.categories {
  padding: 16px 28px;
  @include tablet {
    padding: 16px 40px;
  }
  &__container {
    margin-left: 8px;
    @include tablet {
      margin-left: 0;
    }
  }
  &__card {
    margin-bottom: 16px;
    @include tablet {
      margin-bottom: 36px;
      margin-top: 14px;
    }
    &--body {
      @include tablet {
        display: flex;
        justify-content: space-between;
      }
    }

    &--card {
      // height: 400px;
      // border: 1px solid red;
      border-radius: 20px;
      &:hover {
        border: 1px solid $red;
      }
    }
    &--title {
      // font-size: 4rem;
      font-size: 1.5rem;

      @include tablet {
        font-size: 2rem;
      }
    }
    &--img {
      border-radius: 15px;
      width: 100%;
      // height: auto;
      @include tablet {
        width: 60%;
      }
    }
  }
}

// .card-body {
//   @include tablet {
//     display: flex;
//     justify-content: space-between;
//   }
// }
// .card {
//   border-radius: 20px;
//   border: 1px solid $blue;
//   filter: grayscale(80%);
//   &:hover {
//     filter: grayscale(10%);
//     border: 1px solid $red;
//     color: $red;
//   }
// }
