@use '../../partials/partials' as *;
@use "../../App.scss" as *;
.nav {
  &__color {
    width: 100%;
    background-color: $blue;
  }
  &__brand {
    font-size: 38px;
  }
}
.navbar-toggler {
  box-shadow: 0px 0px 8px 2px #0000003d;
}

.navbar-dark .navbar-nav .nav-link {
  color: $white;
  font-size: 20px;
  &:hover {
    font-size: 22px;
    color: $red;
  }
}
