@use '../../partials/partials' as *;

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &__title {
    font-size: 2rem;
    margin: 24px;
    @include tablet {
      font-size: 4rem;
    }
  }
  &__contain {
    display: flex;
    justify-content: center;
    align-items: center;
    &--row {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      width: 80%;
    }
  }
}
.contain {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.col {
  display: flex;
  justify-content: center !important;
}
