@use '../../partials/partials' as *;
.hero {
  &__img {
    height: 400px;
    object-fit: cover;
    object-position: center;
    background-color: $grey;
    // border: 10px solid red;
  }
  &__cap {
    background-color: rgb(227, 228, 219, 0.8);
    border: 1px solid $darkGrey;
    border-radius: 5px;
    &--title {
      font-size: 3rem;
      color: $blue;
      @include tablet {
        font-size: 62px;
      }
    }
    &--text {
      font-size: 1rem;
      @include tablet {
        font-size: 2rem;
      }
    }
  }
}
