// @font-face {
//   font-family: "AvenirReg";
//   src: url("../assets/fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Regular.otf");
// }

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #353535;
}

$black: #353535;
$grey: #e3e4db;
$blue: #264653;
$white: #ffffff;
$red: #e76f51;
